<footer>
  <p>
    Built with &hearts; by <a href="https://github.com/madalynrose/">madalynrose</a> & <a href="https://github.com/noelledaley/">noelldaley</a>.
    <br />
    Questions from <a href="https://edge.psu.edu/workshops/mc/power/privilegewalk.shtml">Penn State</a>
  </p>
</footer>
