  <h2>Privilege Walk</h2>
  <p>
    <QuestionItem @currentIndex={{currentIndex}}/>
    <button {{action "handleForward"}}>Step forward</button>
    <button {{action "handleBackward"}}>Step back</button>
    <ScoreBar @score={{score}} />
  </p>
