<h2>Results</h2>
<p>
  You're done!
</p>
<p>
  You took [x] steps forward and [x] steps backwards.
</p>
<p>
  Learn more about ....<a href="#">link to some kind of educational resource on privilege</a>.
</p>
<section>
  <ul>
    {{#each model as |userAnswers|}}
    <li>

    </li>
    {{/each}}
  </ul>
</section>
<button {{action startOver}} class="start-over">Start over</button>
