<h2>Results</h2>
<p>
  You're done!
</p>
<p>
  You took stepsForward steps forward and "stepsBack" steps back.
</p>
<p>
  Learn more about ....<a href="#">link to some kind of educational resource on privilege</a>.
</p>
<section>
  <ul>
    {{#each answers as |answer|}}
    <li>
      {{answer}}
    </li>
    {{/each}}
  </ul>
</section>
<button {{action startOver}} class="start-over">Start over</button>
