.app-container {
  width: 640px;
  margin: 60px auto;
  font-family: Helvetica, Arial;
  line-height: 1.5em;
  height: 100%;
}

.app-body {
  flex: 1 0 auto;
}

.app-header {
  margin-bottom: 32px;
}

.begin-button {
  float: right;
}
